{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>
        Welcome to TaskMate!
    </title>
{% endblock title %}


{% block content %}
    <div class = "container">
        <div class ="row mt-5">
            <div class="col-lg-4">
                <img src={% static 'todolist/images/pic3.jpg' %} alt="Notes" class="rounded shadow" width="360" height="250">
            </div>

            <div class="col-lg-4">
                <img src={% static 'todolist/images/pic2.jpg' %} alt="Notes" class="rounded shadow" width="360" height="250">
            </div>

            <div class="col-lg-4">
                <img src={% static 'todolist/images/pic1.jpg' %} alt="Notes" class="rounded shadow" width="360" height="250">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h2">Note taking for brilliant minds</p></center>
                <center><p class="h3">Easy, reliable, efficient note taking tool</p></center>
                <center><p class="h4">Simply the best!</p></center>

                <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Dive in!</button></a></center>
            </div>
        </div>
    </div>
{% endblock content %}